@charset "UTF-8";

body{
    background: url("https://www.tse.jus.br/imagens/imagens/tse-e-titulo-capa/@@images/18e3d136-a7a2-4231-8881-32257c64f44a.jpeg")no-repeat;
    background-size:cover;
    background-position:center
}
.cabecalho ul{
    background-color: rgba(128, 255, 0, 0.589);
    

}
.contato{
    position: initial;
    margin: 0 auto;
    border:5px solid white;
}
.main{
    width: 100%;
}
    
.titulo-contato{
    text-align: center;
    font-size:4rem;
    margin-top:5.5rem;
    color:black;
    width:auto;
}
.rodape{
    background-color: rgba(128, 255, 0, 0.589);
}